:root {
  --color-main: #006769;
  --color-banner: #cdfad5;
  --color-white: #ffffff;
  --color-background: #f7f9f2;
  --color-price: #ff3969;
  --color-blue: #3a5aff;
  --color-gray: #777777;
  --color-logo: #005153;
  --color-primaryHover: #003637;
  --color-gray-light: #e2e8f0;
  --color-gray-dark: #2a2a2e;

  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;
}
